version: '3.8'
services:
  db:
    image: postgis/postgis:14-3.2
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Bindu@5050
      POSTGRES_DB: travelguide
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:


 